.f-box {
  display: flex;
}

.under_text {
  font-size: 12px;
}

.font_italic {
  font-style: italic;
}

.directive.shrink {
  flex-direction: row;
}

.icon {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.icon.disable {
  cursor: default;
  color: lightgray;
  pointer-events: none;
}

html {
  font-family: Ubuntu;
}

.directive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
}

.form-control {
  width: auto;
  height: auto;
  font-size: 4rem;
  align-items: center;
}

